@import "tailwindcss";

:root {
  --brand-primary: #014d4e; /* deep emerald */
  --brand-secondary: #d6c29a; /* champagne */
  --brand-foreground: #4e453d; /* dark bronze */
  --brand-background: #f5f2eb; /* cream */
  --brand-accent: #a7b5a0; /* sage */

  --font-size-xs: 0.75rem; /* 12px, captions */
  --font-size-sm: 0.875rem; /* 14px, secondary text */
  --font-size-base: 1rem; /* 16px, body text */
  --font-size-lg: 1.125rem; /* 18px, small headings */
  --font-size-xl: 1.5rem; /* 24px, medium headings */
  --font-size-2xl: 2rem; /* 32px, large headings */
  --font-size-3xl: 2.5rem; /* 40px, large headings */

  --font-family-body: "PT Sans", sans-serif;
  --font-family-heading: "Oswald", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  background-color: var(--brand-background);
  font-family: var(--font-family-body);
}

#root {
  min-height: 100vh;
  width: 100%;
}

.margin-auto {
  margin: auto;
}

@theme {
  /* COLOR */
  --color-primary: #014d4e;
  --color-secondary: #d6c29a;
  --color-foreground: #4e453d;
  --color-background: #f5f2eb;
  --color-accent: #a7b5a0;

  /* fONT SIZE */
  --text-caption-sm: 0.75rem;
  --text-caption-base: 0.875rem;
  --text-caption-lg: 1rem;
  --text-caption-xl: 1.125rem;
  --text-caption-2xl: 1.5rem;

  --text-body-xs: 0.75rem;
  --text-body-sm: 0.875rem;
  --text-body-base: 1rem;
  --text-body-lg: 1.125rem;
  --text-body-xl: 1.5rem;
  --text-body-2xl: 2rem;
  --text-body-3xl: 2.5rem;

  --text-heading-xs: 1rem;
  --text-heading-sm: 1.125rem;
  --text-heading-base: 1.5rem;
  --text-heading-lg: 2rem;
  --text-heading-xl: 2.5rem;

  /* RADIUS */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --font-family-heading: "Oswald", sans-serif;
}

@utility color-primary {
  color: var(--brand-primary);
}
@utility color-secondary {
  color: var(--brand-secondary);
}
@utility color-foreground {
  color: var(--brand-foreground);
}
@utility color-background {
  color: var(--brand-background);
}
@utility color-accent {
  color: var(--brand-accent);
}
@utility margin-negative {
  margin-left: -200px;
}
